/** v artical **/
/** vv playlist **/
article .playlist {
  padding: 1.5rem;
  padding-left: .2rem !important;
  padding-right: .2rem !important;
  text-align: center;
}
article .playlist .plitem {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 12rem;
  border-radius: .2rem;
  display: inline-block;
  margin: .5rem;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}
article .playlist .plitem:hover {
  box-shadow: 0 0 1rem #8aa0b7;
}
article .playlist .plitem a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}
article .playlist .plitem .pl-ct-img {
  width: 100%;
  overflow: hidden;
  height: 9rem;
}
article .playlist .plitem img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: .1rem .1rem 0 0;
  display: none;
}
article .playlist .plitem .hot {
  position: absolute;
  z-index: 2;
  right: 0.2rem;
  bottom: 0.2rem;
  color: #ff0000;
}
article .playlist .plitem .bottom-left {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: #0f274cb8;
  padding: .1rem .3rem;
  border-top-right-radius: 0.2rem;
  color: #bcc55b;
}
article .playlist .plitem .top-left {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  color: #afa062;
  background-color: #2c284c8c;
  font-size: 1rem;
  padding: .1rem .15rem;
  border-bottom-left-radius: .2rem;
}
article .playlist .plitem .top-left span{
  color: #47a948;
  padding-right: .3rem;
}
article .playlist .plitem .show {
  text-align: left;
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
  color: #8899a9;
  line-height: 1.3rem;
  background-color: #070a0cb3;
  text-shadow: 0 0 5px #070b13;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
article .playlist .plitem .score {
  position: absolute;
  right: .2rem;
  color: #e6e525;
  font-size: 1.5rem;
}
article .playlist .plitem .show .short-show {
  text-align: justify;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

article .playlist .plitem .show .title,
article .playlist .plitem .show .title_en {
  text-shadow: 0 0 1rem #2c3338;
}
article .playlist .plitem .show .tags .year{
  color: #79ab6f;
}article .playlist .plitem .show .tags span{
  margin-right: .2rem;
}
/** ^ artical **/