<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="plist" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/index.php?pi=0" />
        </rule>
        <rule name="wx" stopProcessing="true">
          <match url="^api/wx/wx.php$" />
          <action type="Rewrite" url="/wx/wx.php" />
        </rule>
        <rule name="tvlive" stopProcessing="true">
          <match url="^tvlive/$" />
          <action type="Rewrite" url="/play.php?mo=tvlive" />
        </rule>
        <rule name="alltosort" stopProcessing="true">
          <match url="^([0-9]+)$" />
          <action type="Rewrite" url="/index.php?pi=0&amp;sort={R:1}" />
        </rule>
        <rule name="hplay" stopProcessing="true">
          <match url="^h/(.*).html" />
          <action type="Rewrite" url="/play.php?mo={R:1}" />
        </rule>
        <rule name="query" stopProcessing="true">
          <match url="^q/(.*)/$" />
          <action type="Rewrite" url="/index.php?pi=0&amp;query={R:1}" />
        </rule>
        <rule name="querysort" stopProcessing="true">
          <match url="^q/(.*)/([0-9]+)$" />
          <action type="Rewrite" url="/index.php?pi=0&amp;query={R:1}&amp;sort={R:2}" />
        </rule>
        <rule name="mo" stopProcessing="true">
          <match url="^mo/$" />
          <action type="Rewrite" url="/mo/" />
        </rule>
        <rule name="mon" stopProcessing="true">
          <match url="^mo/(.*)$" />
          <action type="Rewrite" url="/mo/{R:1}" />
        </rule>
        <rule name="plisttotype" stopProcessing="true">
          <match url="^([A-Za-z]*)/$" />
          <action type="Rewrite" url="/index.php?pi=0&amp;type={R:1}" />
        </rule>
        <rule name="plisttosort" stopProcessing="true">
          <match url="^([A-Za-z]*)/([0-9]+)$" />
          <action type="Rewrite" url="/index.php?pi=0&amp;type={R:1}&amp;sort={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer> 
</configuration>